# Required by Payload CMS
PAYLOAD_SECRET=

# Required by @payloadcms/db-postgres
DATABASE_URI=
# Public URL for this app, for example https://media.lisagalea.com
NEXT_PUBLIC_SERVER_URL=

# Comma-separated allowed origins, for example https://media.lisagalea.com
CORS_ORIGINS=
CSRF_ORIGINS=